<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"

	id="WebApp_ID" version="3.0">
  <!-- Servlet Naming -->
  <servlet>
      <servlet-name>KhalilServlet</servlet-name>
      <servlet-class>com.shatta.KhalilServlet</servlet-class>
  </servlet>  
  <servlet>
      <servlet-name>ServletHelloWorld</servlet-name>
      <servlet-class>servlets.ServletHelloWorld</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>HelloJsp</servlet-name>
      <servlet-class>/hello.jsp</servlet-class>
  </servlet>
  <!-- Servlet Mapping -->
  <servlet-mapping>
      <servlet-name>KhalilServlet</servlet-name>
      <url-pattern>/khalil</url-pattern>  
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>ServletHelloWorld</servlet-name>
      <url-pattern>/lolo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>HelloJsp</servlet-name>
      <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <!-- Resource Reference -->
  <resource-ref>
      <res-ref-name>jdbc/myDataSource</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
  </resource-ref>
</web-app>
